.card-info-wrapper,
.pokemon-types {
  display: flex;
  align-items: center;
}

.card-info-wrapper {
  justify-content: space-between;
}

.card-title {
  font-size: 1.2rem;
  padding: 5px 2px;
}

.pokemon-types {
  justify-content: space-evenly;
}

.card-body {
  padding: 10px !important;
}

.pokemon-card {
  max-width: 250px;
}

.pokemon-card__image {
  height: 150px;
  padding: 10px;
}
