.pokemon-type {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  &--fire {
    background-color: #ef8030;
  }

  &--flying {
    background-color: #a890f0;
  }

  &--normal {
    background-color: #a8a877;
  }

  &--fighting {
    background-color: #c03028;
  }

  &--poison {
    background-color: #9f409f;
  }

  &--ground {
    background-color: #e0c068;
  }

  &--rock {
    background-color: #b8a038;
  }

  &--bug {
    background-color: #a8b720;
  }

  &--ghost {
    background-color: #6f5898;
  }

  &--steel {
    background-color: #b8b8d0;
  }

  &--water {
    background-color: #698fe7;
  }

  &--electric {
    background-color: #f8cf30;
  }

  &--psychic {
    background-color: #f85787;
  }

  &--ice {
    background-color: #98d8d8;
  }

  &--dragon {
    background-color: #7038f8;
  }

  &--grass {
    background-color: #78c84f;
  }

  &--dark {
    background-color: #6f5848;
  }

  &--fairy {
    background-color: #f0b5bc;
  }
}
